body {
  margin: 0;
  padding: 0;
  background-color: $dark;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

select {
  display: block;
}

h1 {
  color: $light;
  font-size: 1rem;
  margin-bottom: 1.8rem;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
}

h2, h3 {
  font-size: 4rem;
  letter-spacing: 0.125rem;
}

h2 {
  color: $white;
  margin-bottom: 0.625rem;
}

h3 {
  color: $platinum;
  margin-bottom: 1.25rem;
}

p {
  font-weight: 300;
  color: $platinum;
  font-size: 1.25rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

Button {
  background-color: transparent;
  border: 2px solid $light;
  border-radius: 5px;
  color: $light;
  transition: all 200ms ease-in-out;;
  cursor: pointer;
  padding: 0.5rem;

  &:hover{
    background-color: $light;
    color: $white;
  }
}