body {
  margin: 0;
  padding: 0;
  background-color: $dark;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

select {
  display: block;
}

h1 {
  color: $light;
  font-size: $font-sm;
  margin-bottom: 1rem;
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
}

h2,
h3 {
  font-size: $font-lg;
  letter-spacing: 0.075rem;
}

h2 {
  color: $white;
  margin-bottom: 0.625rem;
}

h3 {
  color: $platinum;
  margin-bottom: 1.25rem;
}

h4 {
  color: $white;
  font-size: $font-md;
  display: flex;
  white-space: nowrap;
  align-items: baseline;
  margin-bottom: 2.5rem;

  &::before {
    margin-right: 0.5rem;
    color: $light;
    font-size: $font-xs;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -6px;
    margin-left: 1rem;
    width: 100%;
    height: 1px;
    background-color: $lightPlatinum;
  }
}

p {
  color: $platinum;
  font-size: $font-xs;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.show-up {
  opacity: 0;
  animation: show-up 750ms ease-in-out forwards;
}

.show-down {
  opacity: 0;
  animation: show-down 750ms ease-in-out forwards;
}

.button {
  background-color: transparent;
  border: 2px solid $light;
  border-radius: 5px;
  color: $light;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    background-color: $light;
    color: $white;
  }
}

.locked {
  overflow: hidden;
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

@include breakpoint-up(large) {
  h1 {
    margin-bottom: 1.8rem;
  }

  h2,
  h3 {
    font-size: $font-xl;
    letter-spacing: 0.125rem;
  }

  p {
    color: $platinum;
    font-size: $font-sm;
    letter-spacing: 0.1rem;
  }
}
