$headerXPadding: 2.5rem;

header {
  background-color: $dark;
  padding: 1rem 1rem;
  z-index: 1;
  position: fixed;
  width: 100%;

  ul {
    list-style-type: none;
    counter-reset: list;

    li {
      display: block;
      padding: 10px;

      a {
        color: $white;
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
        font-size: $font-xs;

        &::before {
          counter-increment: list; 
          content: "0" counter(list) ".";
          margin-right: 5px;
          color: $light;
          text-align: right;
        }
      }
    }
  }

  aside {
    position: fixed;
    top: 0;
    margin-right: -$headerXPadding;
    height: 100vh;
    transform: translateX(100vw);
    width: min(75vw, 400px);
    transition: all 300ms ease-in-out;
    box-shadow: -10px 0px 30px -15px $dark;
    background-color: $space;

    &.open {
      transform: translateX(0);
    }
  }

  &.open {
    .toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .logo {
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: 4px solid $light;
    color: $light;
    border-radius: 50%;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
  }

  .toggle {
    z-index: 1;
    cursor: pointer;

    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $light;
      transition: all 300ms ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  @include breakpoint-up(large) {
    padding: 1rem $headerXPadding;
  }
}
