$headerHeight: 5rem;
$headerPadding: 1rem;

header {
  ul {
    list-style-type: none;
    counter-reset: list;

    li {
      display: block;

      a {
        color: $white;
        font-family: "Roboto Mono", monospace;
        font-weight: 300;
        font-size: $font-xs;

        &:hover {
          color: $light;
        }

        &::before {
          counter-increment: list;
          content: "0" counter(list) ".";
          margin-right: 5px;
          color: $light;
          text-align: right;
        }

        &.button::before {
          content: "";
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }

  nav {
    background-color: $dark;
    padding: $headerPadding $headerPadding;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: $headerHeight;
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    li {
      &:not(:last-child) {
        margin-right: 1.25rem;
      }
    }

    &.hidden {
      transform: translateY(-$headerHeight);
    }

    &.leaning {
      box-shadow: -10px 0 30px -15px black;
    }

    &.open {
      .toggle {
        > span:first-child {
          transform: rotate(45deg);
        }

        > span:nth-child(2) {
          opacity: 0;
        }

        > span:last-child {
          transform: rotate(-45deg);
        }
      }
    }

    .logo {
      margin-right: auto;
      align-items: center;
      justify-content: center;
      border: 4px solid $light;
      color: $light;
      border-radius: 50%;
      font-family: "Dancing Script", cursive;
      font-weight: 700;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
    }

    .toggle {
      z-index: 3;
      cursor: pointer;

      > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $light;
        transition: all 300ms ease-in-out;
        transform-origin: 3px 1px;

        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    @include breakpoint-up(large) {
      padding: 1rem 2.5rem;
    }
  }

  aside {
    position: fixed;
    top: 0;
    margin-right: -$headerPadding;
    height: 100vh;
    transform: translateX(100vw);
    width: min(75vw, 400px);
    transition: all 300ms ease-in-out;
    box-shadow: -10px 0px 30px -15px $dark;
    background-color: $space;
    z-index: 2;

    ul {
      height: 100%;

      li {
        display: block;
        margin-bottom: 2rem;
        width: min-content;

        a {
          white-space: nowrap;
          display: flex;
          flex-direction: column;
          align-items: center;

          &::before {
            margin: 0;
          }
        }
      }
    }

    &.open {
      transform: translateX(calc(100vw - min(75vw, 400px)));
    }
  }
}
