main {
  counter-reset: section;

  a,
  a:hover,
  a:visited {
    color: $light;
  }

  h4 {
    &::before {
      counter-increment: section;
      content: "0" counter(section) ".";
    }
  }

  &.blur {
    filter: blur(5px) brightness(0.7);
    transition: all 300ms ease-in-out;
  }

  section {
    margin: 0 auto;
    padding: 6.25rem 1.25rem;

    @include breakpoint-up(medium) {
      padding: 6.25rem 1.25rem;
    }

    @include breakpoint-up(xxlarge) {
      padding: 6.25rem 0;
      max-width: 80.5rem;
    }

    &.hero {
      min-height: 100vh;

      p {
        max-width: 40rem;
      }
    }

    &.about {
      max-width: 60rem;

      .bio {
        margin-bottom: 4rem;
      }

      .wrapper {
        background-color: $light;
        border-radius: 10px;
        border: 1px solid $light;
        margin: 0 auto 4rem auto;
        max-width: 300px;
        width: 60%;
        transition: transform ease-in-out 0.3s;

        &:hover {
          transform: scale(1.1);

          img {
            filter: none;
            mix-blend-mode: normal;
          }
        }

        img {
          border-radius: 10px;
          mix-blend-mode: darken;
          filter: grayscale(100%) contrast(0.9);
          height: 100%;
          width: 100%;
        }
      }

      @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 4rem;

        .wrapper {
          width: 100%;
        }
      }
    }

    &.experience {
      max-width: 50rem;
    }

    &.contact {
      max-width: 60rem;
      text-align: center;

      h4 {
        font-size: $font-sm;
        font-family: "Roboto Mono", monospace;
        color: $light;
        font-weight: 300;
        margin-bottom: 0.5rem;
        line-height: 1;

        &::after {
          display: none;
        }
      }

      h2 {
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 2rem;
      }

      li {
        text-align: left;
        margin-bottom: 1rem;

        &::marker {
          color: $light;
        }
      }
    }
  }
}

footer {
  height: 20rem;
}
