main {
  &.blur {
    filter: blur(5px) brightness(0.7);
    transition: all 300ms ease-in-out;
  }

  section {
    max-width: 92.5rem;
    margin: 0 auto;

    &.hero {
      min-height: 100vh;

      @include breakpoint-down(large){
        padding: 0 6rem;
      }
      
      p {
        max-width: 40rem;
      }
    }
  }
}
