main {
  &.blur {
    filter: blur(5px) brightness(0.7);
    transition: all 300ms ease-in-out;
  }

  section {
    padding: 0 6rem;

    &.hero {
      min-height: 100vh;
      p {
        max-width: 33.75rem;
      }
    }
  }
}
