$dark: #2a1f2d;
$space: #2d3142;
$light: #56e39f;
$white: #dacede;
$platinum: #b5a0bb;
$lightPlatinum: #443149;
$linkedin: #0a66c2;
$email: #c5221f;

$font-xs: 0.875rem;
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 2rem;
$font-xl: 4rem;
